body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #def2f1;
	font-size: 18px;
}

/* Header styling */
header{
	background-color: #121213;
	height: 40px;
}
#header_links{
	display: inline-block;
	margin: 0;
}
#header_links li{
	display: inherit;
	margin-right: 3vw;
	color: #FFF;
	background-color: #181818;
	line-height: 40px;
	min-width: 15vw;
}
#header_links li a{
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
	font-size: 1em;
}

/* Image section styling */
section{
	display: flex;
	align-items: center;
	height: 30vh;
	background: url("../img/unnamed.png");
	background-size: 100vmax;
	background-color: silver;
	padding-left: 100px;
}
#logo{
	width: 120px;
	height: 120px;
	background-color: transparent;
}
#title{
	display: flex;
	flex-direction: column;
	height: 120px;
	justify-content: center;
	color: #ffffff;
}
#title h1{
	margin: 0 0 0 4vw;
	font-size: 4vmin;
}
#title h2{
	font-weight: 400;
	margin: 0 0 0 4vw;
	font-size: 3vmin;
}



/* Main section styling */
main{
	display: flex;
	background-color: #92c6c4;
}
h1, h2, h3, h4{
	font-family: 'Titillium Web', sans-serif;
}


/* Nav styling */
#nav_triangle{
	width: 300px;
	height: 30vh;
	background: linear-gradient(to bottom right, transparent 50%, #92c6c480 50%);;
	position: absolute;
	right: 0;
	top: 40px;
}
nav{
	width: 300px;
	height: 100%;
	order: 2; /* Place 2nd to left position */
}

/* Content area styling */
article{
	flex: 1; /* Take up remaining available space */
	background-color: #def2f1;
	min-height: calc(70vh - 140px);
	padding: 50px;
}
img{
	background-color: white;
	width: 18vw;
	height: 18vw;
	margin: 2vw;
}
.float_right{
	float: right;
}
.float_left{
	float: left;
}

hr{
	margin-top: 6vmin;
	margin-bottom: 6vmin;
	width: 50%;
}



/* Footer styling */
footer{
	background-color: #2b7a78;
	height: 100px;
}




/* Media Queries */
@media screen and (max-width: 1080px){
	nav, #nav_triangle{
		display: none;
	}
}


.text {
	max-width: 960px;
	margin: 0 auto;
}