h1,h2,h3,h4{
	font-family: 'Titillium Web', sans-serif;
}
p,ul,html{
	font-family: 'Open Sans', sans-serif;
}
html{
    display: table;
    margin: auto;
}
body{
	background-color: #d4e0df;
	width: 960px;
    display: table-cell;
    height: 1500px;
}
article{
	background-color: #def2f1;
}
nav{
	background-color: #92c6c4;
}
footer{
	background-color: #2b7a78;
}
hr{s
	width: 50%;
	background-color: black;
}
